@media only screen and (max-width: 768px) { 
	.jssocials-share-whatsapp{
		visibility: visible !important;
		display: inline-block !important;
	}
	.jssocials-share-webWhatsapp{
		visibility: hidden !important;
		display: none !important;
	}
}

@media only screen and (max-width: 682px){
    .md-input{
		width: 98% !important;
	}
	.btn-default{
		margin-left: 5px !important;
		margin-top: 5px !important;
	}
}

@media only screen and (max-width: 522px){
    .md-input{
		height: 16% !important;
	}
}

@media only screen and (max-width: 352px){
    .md-input{
		height: 20% !important;
	}
}

@media only screen and (max-width: 280px){
    .md-input{
		height: 25% !important;
	}
}

@media only screen and (max-width: 224px){
    .md-input{
		height: 30% !important;
	}
}

@media only screen and (max-width: 211px){
    .md-input{
		height: 35% !important;
	}
}

@media only screen and (max-width: 180px){
    .md-input{
		height: 42% !important;
	}
}

@media only screen and (max-width: 147px){
    .md-input{
		height: 50% !important;
	}
}

.jssocials-share-whatsapp{
	visibility: hidden;
}

.jssocials-share-webWhatsapp{
	visibility: visible;
}